* {
    margin: 0px;
    padding: 0;
}
/* header section */
.menu-container {
    background-color: rgb(29, 27, 27);
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    color:white;
    padding: 15px;
    border-bottom: 5px solid red;

}
.menuBar {
    display: flex;
    /* float: left; */
}
#logo {
    width: 150px;
    /* background-color: red; */
}
.list {
    margin-left: 10px;
    font-size: 24px;
    padding-left: 50px;
}
.list:hover {
    color: orangered;
    cursor: pointer;
}
/* cover section */
.cover-container {
    display:flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: rgb(26, 22, 22);
    background-image: url(images/background.png),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53)); 
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid red;
}

.cover-img{
    display: flex;
}
#cover {
    width: 375px;
}
.title-container {
      align-items: center;
    justify-content: space-around;
}
.span {
    font-weight:bold;
    font-size: 65px;
}
.span-two {
    margin-top: 10px;
}
#span-two {
    font-size: 30px;

}
.btn {
    width: 125px;
    height: 45px;
    font-weight: bold;
    background-color: red;
    margin-top: 5px;
    color: white;
    border:none;
    border-radius: 5px;
    
}
.btn:hover {
    background-color: orangered;
    cursor: pointer;
}
/* about section */
.about-container {
    border-bottom: 5px solid rgb(0, 0, 0); 
    /* box-shadow: 10px 10px; */
} 
.title-div {
    font-weight: bold;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 17px;
    margin-bottom: 20px;
    font-size: 35px;
}
.description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}
.img-about {
    width: 300px;
}
.spanOne {
    font-size: 25px;
    font-weight: bold;
}
/* section service */
.service-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 5px;

}
.box-container {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    background-color: black;
    height:280px;
    width: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: #5a4747 0px 0px 20px;
}
.icon {
    width: 70px;
    /* height: 60px; */
}
.box-title {
    /* display: flex; */
    text-align: center;

}
.box-description {
    padding: 0px 10px;
}
.service-container {
    display:flex;
    /* align-items:center; */
    justify-content:space-around;
    padding: 18px 30px;
    color: white;
    border-bottom: 5px solid red;
}
/* footer section */
.main-footer {
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:230px;
    padding:0px 50px;
}
.logo-footer {
    width: 250px;
}

span.logo-info {
    color: orangered;
    font-size: 25px;
}
h3.use-title {
    margin-bottom: revert;
}
h3.support-list {
    margin-bottom: revert;
}
h3.info-contract {
    margin-bottom: revert;
}
p.list-span {
    padding-bottom: 7px;
}
p.support-list {
    padding-bottom: 7px;
}
p.contract-list {
    padding-bottom: 7px;
}
.allinone:hover {
    text-decoration: underline;
    color: orangered;
}